/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4efff;
}

/* NAVBAR */
.navbar{
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(90deg,#5a189a,#7b2cbf,#9d4edd);
  padding:15px 20px;
}

/* MENÚ */
.menu{
  display:flex;
  gap:25px; /* ajustado para 6 items */
  list-style:none;
  padding-right:80px; /* espacio para imagen */
}

/* LINKS */
.menu a{
  color:white;
  text-decoration:none;
  font-size:15px;
  padding:8px 10px;
  border-radius:6px;
  transition:0.3s;
  white-space:nowrap;
}

.menu a:hover{
  background:rgba(255,255,255,0.2);
}

/* SUBMENÚ */
.menu li{
  position:relative;
}

.submenu{
  position:absolute;
  top:38px;
  left:0;
  background:white;
  min-width:130px;
  border-radius:8px;
  box-shadow:0 8px 15px rgba(0,0,0,0.2);

  opacity:0;
  transform:translateY(-10px);
  pointer-events:none;
  transition:all 0.25s ease;
  z-index:10;
}

/* ANIMACIÓN */
.menu li:hover .submenu{
  opacity:1;
  transform:translateY(0);
  pointer-events:auto;
}

/* LINKS SUBMENÚ */
.submenu a{
  display:block;
  padding:10px;
  color:#333;
}

.submenu a:hover{
  background:#f2f2f2;
}

/* IMAGEN */
.img-menu{
  position:absolute;
  right:15px;
  top:8px;
  height:38px;
  border-radius:8px;
}

/* HAMBURGUESA */
.hamburguesa{
  display:none;
  position:absolute;
  left:15px;
  font-size:26px;
  color:white;
  cursor:pointer;
}

/* HERO */
.hero{
  height:350px;
  background:url("fondo.jpg") center/cover;
}

/* 📱 RESPONSIVE */
@media(max-width:768px){

  .hamburguesa{
    display:block;
  }

  .menu{
    display:none;
    flex-direction:column;
    background:#7b2cbf;
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    padding:20px;
    gap:15px;
  }

  .menu.activo{
    display:flex;
  }

  .submenu{
    position:static;
    opacity:1;
    transform:none;
    pointer-events:auto;
    display:none;
    background:#9d4edd;
    box-shadow:none;
  }

  .menu li:active .submenu{
    display:block;
  }

  .submenu a{
    color:white;
    padding-left:20px;
  }

  .img-menu{
    height:30px;
  }
}
